body
{
    background-color:	#19284C
}
div
{
margin-top: 100px;
margin-right: 33%;
margin-bottom: 50px;
margin-left: 33%;
border:2px solid #87AFC7;
border-radius: 4px;
color:#87AFC7;
background-color:#00304E;
}
form input
{
display:block;
text-align: center;
width: 90%;
height: 1cm;
font-family:Arial, Helvetica, sans-serif;
font-size: 12;
border-radius: 4px;
border:2px;
margin-left:5%;
margin-right:5%;
}
form button
{
width: 90%;
height: 1cm;
display:block;
font-family: Arial, Helvetica, sans-serif;
font-size: 12;
border-radius: 4px;
margin-left:5%;
margin-right:5%;
background-color:#893BFF;
color:azure;
font-family: Arial, Helvetica, sans-serif;
font-size: 12;
}
label
{
font-family: Arial, Helvetica, sans-serif;
font-size: 12;
margin-right:5%;
margin-left:5%;
}
h1
{
font-family:Arial, Helvetica, sans-serif;
font-size: 24;
margin-right:5%;
margin-left:5%;
}
input:valid 
{
    color-border: 0 0 5px 1px green;
}
input:invalid 
{
        color-border: 2px dashed red;
}
</style>
